<!-- FOOTER -->

<section id="contact">
    <footer class="footer mt-3">
      <div class="content has-text-centered">
        
        <div>

          <a href="https://www.instagram.com/ministryofballfc/"> <i class="fab fa-instagram"></i></a>

          <a href="https://twitter.com/mob_fc2020"><i class="fab fa-twitter-square"></i></a>

          <a href=""> <i class="fab fa-facebook-square"></i></a>

        </div>

          <p>
            <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">© 2020 Ministry Of Ball Football Club. Design by Andy Nguyen.</span>
          </p>
      </div>
    </footer>
</section>
  





  
