<!-- FOOTER -->
<footer class="footer">
  <div class="footer__container">
    
    <a href="https://www.instagram.com/ministryofballfc/"> 
      <i class="fab fa-instagram footer__icons"></i>
    </a>

    <a href="https://twitter.com/mob_fc2020">
      <i class="fab fa-twitter-square footer__icons"></i>
    </a>

    <p> © 2020 Ministry Of Ball Football Club. Design by Andy Nguyen.</p>
  </div>
</footer>



  
