          <!-- Hero -->
<div>
  <section class="hero heros is-fullheight ">
    
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
          <div class="container has-text-centered ">
              <div class="heros__container"> <figure class="heros__image"> <img class="img" src="" > </figure> </div>
          </div>
      </div>
      
  </section>
</div>



<!-- ABOUT SECTION -->

<section id="About">
  <div class="about  has-text-white-bis py-6 my-2">
    <h1 class="is-size-1 has-text-centered has-text-weight-bold is-size-3-mobile pb-4 hvr-underline-from-center">Welcome To </h1>
    <h1 class="title has-text-white is-size-4-mobile has-text-centered has-text-weight-bold hvr-underline-from-center">Ministry Of Ball Football Club</h1>
    <p class="has-text-centered is-size-6 has-text-weight-bold hvr-underline-from-center">
        Ministry Of Ball Football Club, a football club established 2020 
        
        with the aim to move up the English Football Pyramid,
        
        currently playing in the Orpington and Bromley division. 
    </p>
  
  </div>
</section>

