<!-- Hero -->
<section class="hero is-fullheight hero__container">
  <div class="hero__overlay">
    <h1 class="hero__title">MOB FC</h1>
    <img src="/images/logoo-removebg-preview.png" alt="MOB FC LOGO" class="hero__img">
  </div> 
</section>

<!-- ABOUT SECTION -->
<section class="about">
  <h2 class="about__title">
    Welcome To <br> Ministry Of Ball Football Club
  </h2>
  <p class="about__text">
    Ministry Of Ball Football Club, a football club established 2020 with the aim to move up the English Football Pyramid, currently playing in the Orpington and Bromley division. 
  </p>
</section>
