
<!-- Main Navbar -->
 <nav class="navbar is-transparent  ">

    <div class="navbar-brand pl-5 ">
        <a class="navbar__item navbar-item" href="/">
            <div class="navbar__logo">
                <img class="image" src="" alt="" >
            </div>
        </a>
            
      <div class="navbar-burger burger px-6 py-6 " data-target="navmenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navmenu" class="navbar-menu navbar__menu">
      <div class="navbar-start ">

        <a class="navbar-item navbar__item" href="/">
            Home
          </a>

        <a class="navbar-item navbar__item" href="#results">
          Results & Fixtures
        </a>

        <a class="navbar-item navbar__item" href="#sponsors">
            Sponsors
            </a>
      </div>
    </div>
  </nav>




 

