
<!-- Main Navbar -->
 <nav class="navbar is-transparent  ">

    <div class="navbar-brand pl-5 ">
        <a class="navbar-item" href="/">
            <div class="logo-image">
                <img class="image" src="" alt="" >
            </div>
        </a>
    
      <div class="navbar-burger burger px-6 py-6 " data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start ">

        <a class="navbar-item" href="/">
            Home
          </a>

        <a class="navbar-item" href="#About">
            About
        </a>

        <a class="navbar-item" href="/players">
          Players
        </a>

        <a class="navbar-item" href="#results">
          Results & Fixtures
        </a>

        <a class="navbar-item" href="#sponsors">
            Sponsors
            </a>

        <a class="navbar-item" href="#contact">
          Contact
          </a>

          
        
      </div>
  
      <div class="navbar-end">

        <div class="navbar-item">

          <div class="field is-grouped">
            
            <!-- <p class="control">
              <a class="button  has-background-black px-4" href="#sponsors">
                <span class="icon">
                  <i class=""></i>
                </span>
                <span class="has-text-white">Main Sponsors</span>
              </a>
            </p> -->
          </div>

        </div>

      </div>

    </div>
  </nav>




 

