 


<div class="tile is-ancestor">
    


  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="title">Middle tile</p>
      <p class="subtitle">With an image</p>
      <figure class="image is-4by3">
        <img src="../../images/welcome.jpeg">
      </figure>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="title">Middle tile</p>
      <p class="subtitle">With an image</p>
      <figure class="image is-4by3">
        <img src="../../images/welcome.jpeg">
      </figure>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="title">Middle tile</p>
      <p class="subtitle">With an image</p>
      <figure class="image is-4by3">
        <img src="../../images/welcome.jpeg">
      </figure>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="title">Middle tile</p>
      <p class="subtitle">With an image</p>
      <figure class="image is-4by3">
        <img src="../../images/welcome.jpeg">
      </figure>
    </article>
  </div>






</div>
  


 