<!-- // FIXTURES AND RESULTS // -->

<section id="results" class="tables">
  <div class="tables__background">
    <h1 class=" tables__title">Fixtures & Results</h1>
  </div>
  <h2 class="tables__sub"> <figure class="tables__img is-128x128 "> <img src="" alt=""></figure> Results </h2>

    <div class="table-container tables__margin ">
        <table class="table is-hoverable is-bordered is-fullwidth" style="width:100%">

            <thead>
                <tr class="is-selected has-background-black">
                    <th>Date</th>
                    <th>Home</th>
                    <th>Score</th>
                    <th>Away</th>
                </tr>
            </thead>

           <tbody>

            <% scores.forEach(function(score) { %>
                <tr> 
                    <td class="is-size-6-mobile"><%= score.Date %> <br></td>
                    <td class="is-size-6-mobile"><%= score.Home %></td>
                    <td class="is-size-6-mobile"><%= score.Score %></td>
                    <td class="is-size-6-mobile"><%= score.Away %></td>
                
                </tr>   
            <% }) %>
           </tbody>
          </table>
    </div>
</section>
















