 <section id="sponsors">
    <h2 class="sponsor-message has-text-white is-size-4-mobile is-uppercase	pt-5 has-text-weight-bold ">Our Sponsors</h2>
    <div class="sponsor-images">
        
        <figure class="image-1 is-128x128">
            <img src="">
        </figure>
    
        <figure class="image-2 is-128x128">
           <img src="">
        </figure>
    
        <figure class="image-3 is-128x128">
            <img src="">
        </figure>

        <figure class="image-4 is-128x128">
            <img src="">
        </figure>
    
        
    </div>

 </section>




 

