<!DOCTYPE html>
<html>
  <% include ../views/scripts/head %>

  <body>
    <% include ../views/partials/nav %>

    <% include ../views/partials/hero %>
    
    <% include ../views/partials/result %>

    <% include ../views/partials/fixture %>

    <% include ../views/partials/sponsors %>


    <% include ../views/partials/footer %>

    <% include ../views/scripts/js %>

  </body>
</html>
