<!DOCTYPE html>
<html>
    <% include ../views/scripts/head %>

  <body>
    

    <% include ../views/partials/playerhero %>

    <% include ../views/partials/player %>








    <% include ../views/partials/footer %>


    <% include ../views/scripts/js %>
  </body>
</html>