<!DOCTYPE html>
<html>
    <% include ../views/scripts/head %>
  <body>
    <% include ../views/partials/playersnav %>

    <% include ../views/partials/playerhero %>

    <% include ../views/partials/footer %>    

    <% include ../views/scripts/js %>
  </body>
</html>





