html {
  scroll-behavior: smooth; }

body {
  background-color: #f8f8f8; }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

@media only screen and (max-width: 768px) {
  #res {
    display: none; } }

.footer {
  color: white;
  background-color: black; }

.fab {
  font-size: 25px;
  color: white;
  margin-left: 8px; }

.navbar .navbar-item:hover {
  background-color: #ffffff;
  color: black; }

.navbar {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Trebuchet MS, sans-serif;
  background-color: #ffffff; }
  .navbar__item {
    color: black;
    margin-left: 1rem; }
  .navbar__logo {
    background-image: url("../../images/logoo-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 46px;
    height: 65px; }

.card-content {
  background-color: #000000cc !important; }

.subtitle {
  font-weight: 700;
  font-family: Trebuchet MS, sans-serif; }

.player-hero {
  background-image: url("../../images/logoo-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #101010; }

.about {
  background-image: url("../../images/logoo-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #101010; }

.heros {
  background-image: url("../../images/Hero.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(75%); }
  .heros__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px; }
  .heros__image {
    background-image: url("../../images/logoo-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 253px;
    width: 180px;
    filter: brightness(100%); }

.sponsor-message {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center; }

.sponsors {
  background-color: #585858; }
  .sponsors__container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .sponsors__images {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px; }
    .sponsors__images--1 {
      background-image: url("../../images/mail-1.png"); }
    .sponsors__images--2 {
      background-image: url("../../images/mail-2.png"); }
    .sponsors__images--3 {
      background-image: url("../../images/mail-3.png"); }
    .sponsors__images--4 {
      background-image: url("../../images/sponsor-4.png"); }

.tables-image {
  background-image: url("../../images/logoo-removebg-preview.png");
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100px;
  width: 70px; }

.columns.is-vcentered {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#c-img #c-image {
  height: 250px; }

#c-img #c-image:hover {
  height: 250px;
  opacity: 0.5; }

/*# sourceMappingURL=style.css.map */