<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta name="description" content="Professional Nail Care for Ladies &amp; Gentlemen">
   
    <title><%= title %></title>
	
     <!-- <link rel='stylesheet' href='/vendor/bulma/css/bulma-carousel.min.css'>  -->
    <link rel='stylesheet' href='/styles/css/bulma.min.css' />
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" ></script> -->
    
    
 </head>