.fixture-image {
    background-image: url("../../images/logoo-removebg-preview.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100px;
    width: 70px;
}

.result-image {
    background-image: url("../../images/logoo-removebg-preview.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100px;
    width: 70px;
}



