
// FIXTURE & RESULT TABLE LOGO
.tables-image {
    background-image: url("../../images/logoo-removebg-preview.png");
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100px;
    width: 70px; 
}



