
.footer {
    background-color: black;

    &__container {
        text-align: center;
        color: $white;
    }

    &__icons {
        font-size: 25px;
        color: $white;
        margin-bottom: 15px; 
        margin-left: 5px;

    }

}