.card-content {
    background-color: #000000cc!important;
}

.subtitle {
    font-weight: 700;
    font-family: Trebuchet MS, sans-serif;
    
}

.player-hero {
    background-image: url('../../images/logoo-removebg-preview.png');
    background-repeat: no-repeat;
    background-position:center;
    background-color: rgb(16,16,16);
    
}




